<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список файлов</title>
</head>
<body>
    <h1>Список файлов рабочей директории</h1>
    {% for file in files %}
        <ul>
            <li>{{ file }}</li>
        </ul>
    {% endfor %}
</body>
</html>